.glass-card {
    margin-top: 20vh;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.glass-content {
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 10px;
    padding: 15px;
}

.text-white {
    color: white;
}


#map {
    overflow: hidden;
}


.card-body {
    height: 520px;
    width: 100%;

}

#map {
    height: 100%;
    width: 100%;

}