<div class="container-fluid">
    <section id="section1">
        <div class="container container1">
            <div class="row">
                <div class="col-lg-6">
                    <p class="text-white fs-1 mb-4">Hot new items in the <span class="text-warning">resturant</span></p>
                    <p class="text-white fs-6 mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Consequuntur natus pariatur iure tempore
                        totam nihil? Aliquam illum officia molestias, rerum velit a, provident dolorum mollitia earum,
                        cum
                        ipsam deleniti amet?</p>
             <a routerLink="/login"><button class="btn btn-warning btn1">Grab it</button></a>
                </div>

            </div>
        </div>
    </section>

</div>

<section id="section2">
    <div class="container pt-5">
        <p class="fs-1 text-white text-center mt-2">Try one of the three new <span class="text-warning">steak
                platters</span></p>
        <p class="text-center fs-6 text-white" style="padding: 0 40vh 7vh 40vh;">Lorem ipsum dolor sit amet consectetur
            adipisicing elit. Ad officiis minus, quos quasi, temporibus odit neque doloribus unde earum animi soluta
            ratione! Officiis vitae voluptatum exercitationem harum inventore, modi deserunt!</p>
    </div>
    <div class="container ">
        <div class="row mt-4">
            <div class="col">
                <div class="image-container">
                    <img src="../../assets/img/1.png" alt="" class="img-fluid">
                    <p class="image-description text-white">Image 1 Description</p>
                </div>
            </div>
            <div class="col">
                <div class="image-container">
                    <img src="../../assets/img/2.png" alt="" class="img-fluid">
                    <p class="image-description text-white">Image 2 Description</p>
                </div>
            </div>
            <div class="col">
                <div class="image-container">
                    <img src="../../assets/img/3.png" alt="" class="img-fluid">
                    <p class="image-description text-white">Image 3 Description</p>
                </div>
            </div>
        </div>
    </div>

</section>

<section id="section3">
    <div class="container pt-5">
        <div class="row">
            <div class="col-md-6">
                <p class="text-white fs-1 mt-4">Explore our <span class="text-warning">exclusive</span> dishes</p>
                <p class="text-white mt-4">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Numquam qui dolor
                    nobis
                    reprehenderit illo animi quibusdam in eveniet nesciunt error incidunt deserunt sapiente beatae,
                    harum ut atque est cupiditate amet.</p>
      <a href="/login"><button class="btn btn-warning btn1 mt-3">More</button></a>
            </div>
            <div class="col-md-6 mt-6">
                <img src="../../assets/img/4.png" alt="Image 4" class="img-fluid">
            </div>
        </div>
    </div>
    <div class="container mt-4">
        <div class="row">
            <div class="col">
                <div class="image-container1">
                    <img src="../../assets/img/6.png" alt="" class="img-fluid">
                    <div class="dish-popup ">Mutton Curry</div>
                </div>
            </div>
            <div class="col">
                <div class="image-container1">
                    <img src="../../assets/img/7.png" alt="" class="img-fluid">
                    <div class="dish-popup ">Sea Food</div>
                </div>
            </div>
            <div class="col">
                <div class="image-container1">
                    <img src="../../assets/img/8.png" alt="" style="height: 30vh; margin-left: 5vh; ">
                    <div class="dish-popup ">Chicken Biryani</div>
                </div>
            </div>
            <div class="col">
                <div class="image-container1">
                    <img src="../../assets/img/9.png" alt="" class="img-fluid">
                    <div class="dish-popup ">Chicken Curry</div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="section4">
    <div class="container">
        <p class="text-center text-warning fs-1">Contact Us</p>
        <div class="row justify-content-center"> 
            <div class="col-md-6">
                <form class="text-center">
                    <div class="form-group mt-3">
                        <input type="email" class="form-control custom-input" id="inputEmail" placeholder="Email">
                    </div>
                    <div class="form-group mt-3">
                        <textarea class="form-control custom-input" id="message" rows="4" placeholder="Message"></textarea>
                    </div>
                    <div class="form-group mt-3">
                        <input type="tel" class="form-control custom-input" id="phoneNumber" placeholder="Phone Number">
                    </div>
                    <button type="submit" class="btn btn-warning btn1 mt-3">Submit</button>
                </form>
            </div>
        </div>
    </div>
    
</section>